<div class="login_cont">
  <div class="logo">
    <h3>Elite</h3>
    <span>Мобильные аксессуары</span>
  </div>
  <form (ngSubmit)="login()">
    <div class="user">
      {{employeeService.item && employeeService.item.name}}<br/>
      <input id="passwordField" type="password" [(ngModel)]="password" name="password" placeholder="ПИН КОД"
             class="passcode"/>
    </div>

    <div class="keypad">

      <span *ngFor="let button of buttons"><a (click)="onButtonPress(button)" value="1">{{button}}</a></span>

      <span class="back"><a (click)="onRemoveNumber()">back</a></span>
    </div>
    <div class="button-wrap">
      <button type="submit" class="login-button button green">Вход</button>
    </div>
  </form>
</div>
