.button-wrap {
  margin: 15px 0;
  display: inline-block;
}

.login-button {
  border-radius: 5px;
  color: #fff;
  text-align: center;
  outline: none;

  display: block;
  padding: 12px 16px;
  width: 168px;
  font-size: 18px;
  font-weight: bold;
}
