<div class="guest">
  <div class="clock_cont">
    <div class="clock"></div>
  </div>

  <div class="login">
    <span class="button big green"><a [routerLink]="authService.isLoggedIn?'/dashboard':'/auth/choose-store'">{{authService.isLoggedIn?'Продолжать':'Логин'}}</a></span>
  </div>

  <div class="notif scrollable">
    <div class="tbcont">
      <table cellspacing="0" cellpadding="0">
        <tr *ngFor="let item of reminderService.list">
          <td class="icon {{getLeftDay(item)}}"><i class="glyphicon glyphicon-info-sign"></i>
          </td>
          <td class="date">{{item.due_date}}</td>
          <td class="note">{{item.note}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="msg">
    <marquee>
      <span>Поздравляем с наступающим новым годом. Не забудьте также поздравить клиентов!</span>
      <i class="glyphicon glyphicon-asterisk"></i>
      <span>Lorem ipsum dolor sit amet!</span>
      <i class="glyphicon glyphicon-asterisk"></i>
      <span>Consectetur adispicin elit nam lorem ipsum!</span>
    </marquee>
  </div>
</div>
