<header class="clearfix wrap">
  <a href="/" id="logo" class="fleft">
    {{appName}}
  </a>
  <div class="barcode-wrap fleft">
    <search-form (onSubmitHandle)="barcodeSearch($event)" placeholder="Поиск по штрих-коду"></search-form>
  </div>


  <nav class="fright">
    <ul class="nostyle dashboard-menu">
      <li>
        <a (click)="exchangeService.getPrimaryExchange()" class="open_modal"
           title="Обменный курс">
          <span class="glyphicon glyphicon-refresh"></span>
          {{getFormattedExchange() | money}}
        </a>
      </li>
      <li class="menu-item {{isActive('/dashboard')?'active': ''}}"><a (click)="openOrderList('/dashboard')">Заказы</a></li>
      <li class="menu-item {{isActive('/dashboard/clients')?'active': ''}}"><a routerLink="/dashboard/clients">Новый
        заказ</a></li>
      <li class="menu-item">
        <a (click)="authService.logout()">Выход</a>
      </li>
      <li>
        <div class="dropdown user-profiles">
          <button class="item store btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            {{employeeService.item && employeeService.item['name'] || "No name"}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngIf="storeService.item" class="list-item">
              <span class="btn">Магазин: {{storeService.item && storeService.item.name}}</span>
            </li>
            <li class="list-item">
              <a class="btn btn-default" (click)="authService.logout()">Выход</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>


<popup-client-create></popup-client-create>
<popup-client-list></popup-client-list>
<popup-reminder-list *ngIf="reminderService.listPopup"></popup-reminder-list>
<div *ngIf="orderService.orderItemsPopup && orderService.productOrderItem">
  <popup-add-product></popup-add-product>
</div>
<div *ngIf="orderService.paymentPopup">
  <order-payment></order-payment>
</div>
