<div class="content wrap mobile-view scrollable">
  <div id="panel" class="scrollable-wrap">
    <div id="panel_head" class="clearfix">
      <div id="title" class="fleft">Список заказов</div>
      <div id="search" class="fright">
        <form [formGroup]="orderSearchForm" (ngSubmit)="onSubmit()">
          <input type="text" formControlName="searchField" class="input"
                 placeholder="Введите номер заказа или назавние фирмы"/>
          <button type="submit" class="button green">Поиск</button>
        </form>

      </div>
      <div class="fright" style="margin-right:10px">
        <button class="btn btn-primary" (click)="reloadList()"><span class="glyphicon glyphicon-refresh"></span></button>
        <button class="btn btn-info" (click)="reloadList(true)"><span class="glyphicon glyphicon-repeat"></span> Сбросить фильтр</button>
      </div>
    </div>

    <div id="panel_body" class="clearfix">
      <div id="order_list" class="fleft scroll_panel"
           appInfiniteScroller
           scrollPerecnt="40"
           [immediateCallback]="true"
           [scrollCallback]="scrollCallback">
        <table cellpadding="0" cellspacing="0">
          <tr *ngFor="let item of orderService.list" (click)="selectClient(item)"
              class="{{orderService.item&&orderService.item['id'] == item.id?'active':''}}">
            <td style="text-align: left">
              <p><span class="blue">{{item.client && item.client.name}}</span></p>
              <p>Сумма заказа - <span class="blue">{{item.total | eliteMoney}}</span></p>
            </td>

            <td style="text-align: right">
              <p>Заказ № {{item.code}}: <span class="red">
                {{item.created_date}}
              </span>
              </p>
              <p>Статус: <span class="{{getStatusClass(item)}}">{{getStatusLabel(item.status)}}</span></p>
            </td>
          </tr>
        </table>
      </div>

      <div id="order_detail" class="fright" *ngIf="orderService.item">

        <order-items></order-items>

        <div id="order_total">
          <table>
            <tr>
              <td>Общ. стоимость:<span>{{orderService.item.sub_total | eliteMoney}} </span></td>
              <td>Итог:<span>{{orderService.item.total | eliteMoney}}</span></td>
            </tr>
            <tr>
              <td>Общая скидка:<span>{{orderService.item.total_discount | eliteMoney}}</span></td>
              <td *ngIf="orderService.item.total_payment">Оплачено:<span class="paid">{{orderService.item.total_payment | eliteMoney}}</span>
              </td>
            </tr>
          </table>
          <p>
            <span class="button gray">
              <a class="open_modal" data-target="item"
                 (click)="orderService.printOrderCheck()">Печать</a>
            </span>
            <span class="button blue" *ngIf="orderService.item.status=='DRAFT'">
              <a (click)="openOrder()">Открыть</a>
            </span>
            <span class="button red fright" *ngIf="orderService.item.status!='DRAFT'">
          <a (click)="reminderService.toggleListPopup(true)">
          <i class="glyphicon glyphicon-bell"></i>
              Reminders
            </a>
        </span>
            <span class="button green" *ngIf="orderService.item.status != 'COMPLETED'">
          <a (click)="orderService.togglePaymentPopup(true)"
             class="open_modal" data-target="payment">Оплата</a>
        </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
