<div id="item_list" class="scroll_panel" >
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td>Название</td>
      <td>Кол.во</td>
      <td>Цена</td>
      <td>Скидка</td>
    </tr>

    <tr *ngFor="let item of orderService.orderItems" (click)="selectClient(item)" class="open_modal">
      <td style="text-align: left">{{item.product.name}}</td>
      <td>{{item.quantity}}</td>
      <td style="text-align: right">{{item.price | eliteMoney}}</td>
      <td style="text-align: right">{{item.discount | eliteMoney}}</td>
    </tr>
  </table>
</div>
