<div class="viewcont">
  <div class="logo">
    <h3>Elite</h3>
    <span>Мобильные аксессуары</span>
  </div>

  <div class="user_list">
    <span *ngFor="let item of employeeService.list"><a (click)="onSelect(item)">{{item.username}}</a></span>
  </div>
</div>
