<div class="barcode-search-box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" class="input"
           formControlName="barcodeField"
           placeholder="Штрих-код"/>
  </form>
</div>
