<div id={{idName}} class="search-box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="search" class="input"
           formControlName="query"
           placeholder="{{placeholder}}"/>
  </form>
</div>
