<div *ngIf="popupService.visible">
  <div class="cover popup-wrapper alert-modal" (click)="closePopup($event)">
    <div id="modal" class="body">
      <div class="modal-header">
        {{popupService.title}}
      </div>
      <div class="modal-body">
        <div class="group" [innerHTML]="popupService.message"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default close-btn" (click)="closePopup()">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<!-- End new client pupup -->
