.alert-modal {
  background: rgba(0, 0, 0, 0.01);
}

.modal-header {
  padding: 10px;
  text-align: center;
}

.modal-body {
  padding: 20px 20px 0;
  text-align: justify;
}

.modal-body  group {
}

.modal-footer {
  border: none;
}
