<div class="section">
  <h4>Products</h4>
  <div id="infinite-scroller" appInfiniteScroller
       scrollPerecnt="40"
       [immediateCallback]="true"
       [scrollCallback]="scrollCallback">
      <span class="menu_btn item" title="Item information" *ngFor="let item of inventoryService.productList">
        <a (click)="orderService.openOrderItemsPopup(item)" class="open_modal" data-target="item">
          {{item.product.name}}
          <span class="lbl">{{orderService.getItemPrice(item)| eliteMoney}}</span>
        </a>
      </span>
  </div>
  <div class="text-center product-pagination"
       *ngIf="inventoryService.productList.length >0 && inventoryService.productCount > inventoryService.productList.length"
  >
    <div class="btn-group">
      <button class="btn bg-primary"

              (click)="moreListing()">More
      </button>
    </div>
  </div>
</div>
