<div id="menu_head">
  <span class="crumb active">Меню</span>
</div>

<search-form [idName]="'menu_search'" (onSubmitHandle)="searchFromListing($event)"></search-form>

<div id="menu_body"  class="scrollable">
    <div id="infinite-scroller"  appInfiniteScroller
         [immediateCallback]="true"
         [scrollCallback]="scrollCallback">
      <span class="menu_btn" *ngFor="let item of list">
        <a (click)="selectClient(item)" class="open_modal" data-target="item">{{item.name}}</a>
      </span>
    </div>

  <category-product-list [listRequest]="productsModel"></category-product-list>

</div>
