<div id="panel_head">
  <div id="title" class="center"><span>Выберите клиента</span></div>
</div>

<div id="panel_body">
  <div id="clients">
    <search-form (onSubmitHandle)="searchFromListing($event)"></search-form>

    <div id="client_list" class="scroll_panel" appInfiniteScroller
         [scrollPercent]="70"
         [immediateCallback]="true"
         [scrollCallback]="scrollCallback">
      <table>
        <tr *ngFor="let item of clientService.list" (click)="selectClient(item)">
          <td>
          <span *ngIf="clientService.selectedClient && clientService.selectedClient['id'] == item.id">
            <input type="checkbox" checked="clientService.selectedClient.id == item.id">
          </span>
          </td>
          <td>{{item.name}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.client_type}}</td>
        </tr>
      </table>
    </div>

    <div id="actions" class="clearfix">
          <span class="button blue fleft">
            <a (click)="clientService.toggleCreatePopup(true)" class="open_modal">Новый клиент</a>
          </span>
      <span class="button gray fright"><a (click)="selectClient()">Далее</a></span>
    </div>
  </div>
</div>
