<div class="client-orders" *ngIf="orderService.item">
  <div id="panel_head">
    <div id="title" class="clearfix">
      <span>{{orderService.item && orderService.item.client && orderService.item.client['name'] || 'Анонимный клиент'}}</span>
      <a (click)="clientService.toggleListPopup(true)"
         id="change_client"
         class="open_modal fright"
         data-target="client_list">Изменить клиент</a>
    </div>
  </div>

  <div id="panel_body" class="new_order">
    <order-items></order-items>

    <div id="discount" class="clearfix">
      <span>Скидка на заказ, (сўм)</span>

      <div class="increment fright">
        <form (ngSubmit)="onSave()">
          <div class="input-group">
							<span class="input-group-btn">
								<button type="button"
                        (click)="toggleDiscount(false)"
                        class="btn btn-default btn-number"
                        disabled="{{orderService.item.discount<=0?'disabled':''}}"
                        data-type="minus"
                        data-field="order_discount">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</span>
            <input [(ngModel)]="discountPrice" type="number"
                   name="order_discount"
                   class="form-control input-number"
                   (keyup)="onKeyPressDiscount()"
                   (blur)="onSave()"
                   min="0"
                   [max]="exchangeService.getSOM(orderService.item.sub_total)">
            <span class="input-group-btn">
								<button type="button" (click)="toggleDiscount(true)" class="btn btn-default btn-number"
                        data-type="plus"
                        data-field="order_discount">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
          </div>
        </form>
      </div>
    </div>

    <div id="order_total" *ngIf="orderService.item">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td>Общ. стоимость:<span>{{orderService.item.sub_total | eliteMoney}}</span></td>
          <td>К оплате</td>
        </tr>
        <tr>
          <td>Скидки:<span>{{orderService.item.total_discount | eliteMoney}}</span></td>
          <td><span class="paid" style="margin:0;">{{orderService.item.total | eliteMoney}}</span></td>
        </tr>
      </table>
      <p>
        <span class="button gray" *ngIf="false && orderService.item.status == 'DRAFT'"><a (click)="onSave()">Сохранить</a></span>
        <span class="button blue"><a (click)="orderService.printOrderCheck()">Печатать чек</a></span>
        <span class="button green" *ngIf="orderService.item.status != 'COMPLETED'">
          <a (click)="orderService.togglePaymentPopup(true)"
             class="open_modal" *ngIf="orderService.item.status != 'COMPLETED'" data-target="payment">Оплата</a>
        </span>
        <span class="button red fright" *ngIf="orderService.item.status != 'DRAFT'">
          <a (click)="reminderService.toggleListPopup(true)">
          <i class="glyphicon glyphicon-bell"></i>
              Reminders
            </a>
        </span>
      </p>
    </div>
  </div>
</div>
