<div class="content wrap mobile-view scrollable">
  <div class="scrollable-wrap clearfix">
    <div class="col-xs-6 side side-pos">
      <div class="white-box">
        <div *ngIf="location.path().includes('left-view=client-list')||!location.path().includes('left-view')">
          <client-list></client-list>
        </div>
        <div *ngIf="location.path().includes('left-view=client')">
          <client-order></client-order>
        </div>
      </div>
    </div>

    <div id="item_menu" class="col-xs-6 side-pos">
      <div *ngIf="!location.path().includes('right-view')">
        <category-list></category-list>
      </div>
      <div *ngIf="location.path().includes('right-view=subCategory')">
        <sub-category-list></sub-category-list>
      </div>
      <div *ngIf="location.path().includes('right-view=products')">
        <product-list></product-list>
      </div>
    </div>
  </div>
</div>
