<div id="menu_head">
  <span class="crumb"><a (click)="goToMenu()">Меню</a></span>
  <span class="crumb" *ngIf="inventoryService.selectedCategory"><a (click)="goToParent()">{{inventoryService.selectedCategory.name}}</a></span>
  <span class="crumb active" *ngIf="inventoryService.selectedSubCategory">{{inventoryService.selectedSubCategory.name}}</span>

</div>

<search-form [idName]="'menu_search'" (onSubmitHandle)="searchFromListing($event)"></search-form>

<div id="menu_body"   class="scrollable">
  <category-product-list [listRequest]="listRequest"></category-product-list>
</div>
