<div id="menu_head">
  <span class="crumb"><a (click)="goToMenu()">Меню</a></span>
  <span class="crumb active" *ngIf="inventoryService.selectedCategory">{{inventoryService.selectedCategory.name}}</span>
</div>

<search-form [idName]="'menu_search'" (onSubmitHandle)="searchFromListing($event)"></search-form>

<div id="menu_body"   class="scrollable">
  <div class="section">
    <h4>Sub categories</h4>
    <div id="infinite-scroller" appInfiniteScroller
         [immediateCallback]="true"
         [scrollCallback]="scrollCallback">
      <span class="menu_btn" *ngFor="let item of list">
        <a (click)="selectClient(item)" class="open_modal" data-target="item">{{item.name}}</a>
      </span>
    </div>
  </div>

  <category-product-list [listRequest]="productsModel"></category-product-list>
</div>

