.basic-modal {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.loader-modal .body {
  margin-top: 20% !important;
  padding: 20px;
  width: 120px !important;
}

.loader-modal .text {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}
