<div *ngIf="isActivePopup()">
  <div id="client" class="cover basic-modal loader-modal">
    <div id="modal" class="body">
      <img src="/assets/img/loader-search.gif" alt="Loading...">
      <div class="text">
        Loading...
      </div>
    </div>
  </div>
</div>
<!-- End new client pupup -->
