@font-face {
  font-family: 'PhatBoy';
  src: url('../fonts/phatboy_slim.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PhatBoy';
  src: url('../fonts/phatboy_slim-bold.otf');
  font-weight: bold;
  font-style: normal;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/*BUTTONS*/
button.button, span.button, span.button.big {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 8px #aaa;
}

span.button a, span.button input, span.button button {
  display: block;
  border-radius: 5px;
  padding: 6px 10px;
  color: #fff;
  text-align: center;
  background: none;
  outline: none;
}

span.button.big a, span.button.big input, span.button.big button {
  padding: 12px 16px;
  min-width: 180px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  outline: none;
}

span.button a:hover {
  text-decoration: none;
}

.button.green {
  background: -webkit-linear-gradient(#94de64, #438e10);
  background: -moz-linear-gradient(#94de64, #438e10);
  background: -o-gradient(#94de64, #438e10);
  background: linear-gradient(#94de64, #438e10);
  border: 1px solid #408c0e;
}

button.button, .button.green a, span.button.green input, span.button.green button {
  border: 1px solid #7aaf56;
}

span.button.blue {
  background: -webkit-linear-gradient(#2da0ff, #006ecc);
  background: -moz-linear-gradient(#2da0ff, #006ecc);
  background: -o-gradient(#2da0ff, #006ecc);
  background: linear-gradient(#2da0ff, #006ecc);
  border: 1px solid #006ecc;
}

span.button.blue a, span.button.blue input, span.button.blue button {
  border: 1px solid #369aee;
}

span.button.red {
  background: -webkit-linear-gradient(#f94c4c, #df1a1a);
  background: -moz-linear-gradient(#f94c4c, #df1a1a);
  background: -o-gradient(#f94c4c, #df1a1a);
  background: linear-gradient(#f94c4c, #df1a1a);
  border: 1px solid #df1a1a;
}

span.button.red a, span.button.red input, span.button.red button {
  border: 1px solid #e66c6c;
}

span.button.gray {
  background: -webkit-gradient(#eee, #bbb);
  background: -moz-gradient(#eee, #bbb);
  background: -o-gradient(#eee, #bbb);
  background: linear-gradient(#eee, #bbb);
  border: 1px solid #999;
}

span.button.gray a, span.button.gray input, span.button.gray button {
  color: #333;
  border: 1px solid #d0d0d0;
}

.hide {
  display: none;
}

.clickable {
  cursor: pointer;
}

.alert {
  padding: 2px 5px !important;
}

.scrollable {
  overflow: auto;
  /*scroll-behavior: smooth;*/
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-style: -ms-autohiding-scrollbar;
}

.notif.scrollable {
  max-height: 240px;
}

.dashboard-menu .item {
  padding: 12px 20px;
  display: block;
  border-right: 1px solid #006ecc;
  border-left: 1px solid #006ecc;
  color: #f7f7f7;
}

.dashboard-menu .menu-item.active {
  background: rgba(0, 0, 0, 0.1);
}

.dashboard-menu .menu-item.active a {
  color: #fff !important;
  text-decoration: none;
}

.dashboard-menu .item.store {
  background: rgba(0, 0, 0, 0.05);
}

.dashboard-menu .item.active {
  background: rgba(0, 0, 0, 0.1);
}

.dashboard-menu .user-profiles .dropdown-menu {
  left: auto;
  right: 0;

}

.dashboard-menu .user-profiles .dropdown-menu .list-item {
  display: block;
  padding: 3px 10px;
  text-align: center;
  float: none;
}

.dashboard-menu .user-profiles .dropdown-menu .list-item > * {
  display: inline-block;
}

body {

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-style: -ms-autohiding-scrollbar;
}
