.guest {
  text-align: center;
}

.guest:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background: url('../img/cl.jpg') no-repeat;
  background-size: cover;
  z-index: -1;
}

.guest div.clock_cont {
  text-align: center;
}

.guest div.login {
  margin: 80px 0 60px;
}

.guest div.notif div.tbcont {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
}

.guest div.notif table {
  width: 100%;
}

.guest div.notif table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.guest div.notif table td:first-child {
  font-size: 20px;
  padding: 10px 8px;
  color: #fff;
}

.guest div.notif table td:first-child.blue {
  background: #3578dd;
}

.guest div.notif table td:first-child {
  background: #8c8c8c;
}

.guest div.notif table td:first-child.red {
  background: #b64242;
}

.guest div.notif table td:first-child.pink {
  background: deeppink;
}

.guest div.notif table td.date {
  color: #a72323;
}

.guest div.notif table td.note {
  width: 80%;
}

.guest div.notif table td:last-child {
  text-align: left;
  font-size: 20px;
  color: #444;
}

.guest div.notif table tr:last-child td {
  border-bottom: none;
}

.guest div.msg {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: rgba(255, 255, 255, 0.8);
  padding: 13px 0 10px;
}

.guest div.msg span {
  display: inline-block;
  margin: 0 30px;
  font-size: 18px;
  color: #a51d1d;
}

.guest div.viewcont {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.guest div.logo {
  margin: 30px auto 50px;
}

.guest div.logo h3 {
  text-transform: uppercase;
  font-family: PhatBoy;
  font-weight: bold;
  font-size: 42px;
  color: #0078de;
}

.guest div.logo span {
  text-transform: uppercase;
  font-family: PhatBoy;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  background: #ad3e3e;
  padding: 6px 20px;
}

.guest div.user_list {
  width: 100%;
  max-width: 1000;
  overflow: auto;
  margin: 0 auto;
}

.guest div.user_list span, div.keypad span {
  display: inline-block;
  box-sizing: border-box;
  width: 18%;
  max-width: 200px;

  border: 1px solid #777;
  border-radius: 5px;
  margin: 10px;
}

.guest div.user_list span a, div.keypad span a {
  display: block;
  padding: 12px;
  color: #333;
  border-radius: 5px;
  background: -webkit-gradient(#ddd, #999);
  background: -moz-gradient(#ddd, #999);
  background: -o-gradient(#ddd, #999);
  background: linear-gradient(#ddd, #999);
  font-size: 18px;
  box-shadow: 0 0 10px #888;
  text-decoration: none;
}

.guest div.user_list span a:active, div.keypad span a:active {
  background: #ddd;
  box-shadow: inset 0 1px 8px #aaa;
}

.guest div.login_cont {
  position: absolute;
  width: 280px;
  padding: 5px 15px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.guest div.login_cont div.logo {
  margin: 20px auto;
}

.guest div.login_cont div.user {
  padding: 15px 0;
  font-size: 18px;
  color: #444;
}

.guest div.login_cont div.user input {
  border: 1px solid #999;
  border-radius: 5px;
  width: 170px;
  margin: 15px 0 5px;
  padding: 5px 10px;
  outline: none;
  font-size: 20px;
  text-align: center;
  box-shadow: inset 0 1px 8px #aaa;
}

.guest div.login_cont div.keypad {
  width: 200px;
  margin: 0 auto;
}

.guest div.login_cont div.keypad span {
  width: 50px;
  max-width: 50px;
  margin: 5px 3px;
}

.guest div.login_cont div.keypad span.back {
  width: 110px;
  max-width: 110px;
}

.guest div.login_cont div.keypad a {
  font-weight: bold;
}

.guest div.login_cont span.button {
  margin: 15px 0;
}

.guest div.login_cont span.button a {
  padding: 12px 16px;
  width: 168px;
  font-size: 18px;
  font-weight: bold;
}
