body {
  background: #677e92;
}

ul {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear_float {
  overflow: auto;
}

.scroll_panel {
  overflow-y: scroll;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

input.input, textarea.input, select.input {
  border-radius: 5px;
  padding: 6px;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 3px #ccc;
  outline: none;
}

textarea {
  resize: none;
}

body,
.scrollable-wrap {
  min-width: 1200px;
}

div.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

div.cover div#modal {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #999999;
  box-shadow: 0 0 15px #788591;
  margin: 5% auto;
}

div.cover#client div#modal {
  width: 420px;
}

div.cover#client_list div#modal {
  width: 500px;
}

div.cover#reminders div#modal {
  width: 800px;
}

div.cover#reminders div#remind_list {
  min-height: 400px;
  max-height: 600px;
  /*position:absolute;
  top:0;
  right:0;
  bottom:150px;
  left:0;*/
}

div.cover#reminders div#remind_list table tr.open_modal {
  cursor: pointer;
}

div.cover#reminders div#remind_list table td {
  padding: 10px;
  color: #666;
  border-bottom: 1px solid #ccc;
  width: 20%;
}

div.cover#reminders div#remind_list table td:last-child {
  width: 40%;
}

div.cover#reminders div#remind_list table tr:first-child td {
  color: #999;
}

div.cover#reminders div#remind_list table tr:last-child td {
  border: none;
}

div.cover#payment div#modal {
  width: 500px;
}

div.cover#payment div#modal span.blue {
  color: #0878d5 !important;
}

div.cover#payment div#modal textarea,
div.cover#payment div#modal input[type=text],
div.cover#payment div#modal input[type=email],
div.cover#payment div#modal input[type=password],
div.cover#payment div#modal input[type=number] {
  width: 100%;
}

div.cover#item div#modal table td.img {
  text-align: center;
}

div.cover#item div#modal table td {
  width: 50%;
}

div.cover div#modal div#title {
  color: #0878d5;
  font-size: 18px;
  padding: 10px 15px;
}

div.cover div#modal div#title.center {
  text-align: center;
}

div.cover div#modal div#title span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #636f81;
}

div.cover div#modal div#modal_cont {
  padding: 15px 5px;
}

div.cover div#modal div#modal_cont table {
  width: 100%;
}

div.cover div#modal div#modal_cont table td {
  padding: 10px;
}

div.cover div#modal div#modal_cont table td > span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

div.cover div#modal div#modal_cont table tr.disabled td > span {
  color: #aaa;
}

div.cover div#modal div#modal_cont div.btn-group label.btn {
  outline: none;
}

div.cover div#modal div#modal_cont table td > span.inline {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  color: #666;
}

div.cover div#modal div#modal_cont div#search {
  padding: 10px 15px;
  margin: 0 -5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;
}

div.cover div#modal div#modal_cont div#search input.input {
  width: 100%;
}

div.cover div#modal div#modal_cont div.scroll_panel {
  max-height: 300px;
  margin: 0 -5px -15px;
  overflow-x: hidden;
}

div.cover div#modal div#modal_cont ul.block_list {
  margin: 0;
  padding: 0;
}

div.cover div#modal div#modal_cont ul.block_list a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

div.cover div#modal div#modal_cont ul.block_list a:hover {
  background: #d4e2ef;
}

div.cover div#modal div#actions {
  padding: 10px 15px;
  border-top: 1px solid #ccc;
}

div.cover div#modal div#modal_cont.scan_msg {
  padding: 20px;
  text-align: center;
}

div.cover div#modal div#modal_cont.scan_msg img {
  width: 100px;
  opacity: 0.6;
}

div.cover div#modal div#modal_cont.scan_msg p {
  margin-top: 20px;
  font-size: 18px;
}

header {
  background: -webkit-gradient(#2da0ff, #006ecc);
  background: -moz-gradient(#2da0ff, #006ecc);
  background: -o-gradient(#2da0ff, #006ecc);
  background: linear-gradient(#2da0ff, #006ecc);
  border-bottom: 1px solid #006ecc;
  padding: 0 20px;
  box-shadow: 0 0 5px #666;
}

header a {
  color: #fff;
  text-decoration: none;
}

header #logo {
  font-size: 20px;
  font-family: PhatBoy;
  color: #fff;
  padding: 7px 0;
}

header nav ul li {
  float: left;
  list-style: none;
}

header nav a {
  display: block;
  padding: 12px 20px;
  border-right: 1px solid #006ecc;
}

header nav li:first-child a {
  border-left: 1px solid #006ecc;
}

header nav a:hover {
  background: #006ecc;
  color: #fff;
}

div.content {
  position: fixed;
  padding: 0 10px;
  top: 46px;
  bottom: 10px;
  left: 0;
  right: 10px;
}

div#panel {
  position: absolute;
  background: #fff;
  border-radius: 6px;
  overflow: auto;
  border: 1px solid #999999;
  box-shadow: 0 0 15px #788591;
  margin: 0 auto;
  top: 10px;
  right: 10px;
  bottom: 0;
  left: 10px;
}

.white-box {
  position: absolute;
  top: 10px;
  bottom: 0;
  left:0;
  right: 10px;
  background: #fff;
  border-radius: 6px;
  overflow: auto;
  border: 1px solid #999999;
  box-shadow: 0 0 15px #788591;
}

.side-pos {
  position: relative;
  min-height: 600px;
}

/*div.content.side {*/
/*width: 49%;*/
/*top: 10px;*/
/*bottom: 0;*/
/*left: 10px;*/
/*margin: 0;*/
/*}*/

div.content table {
  width: 100%;
}

div.content div#panel_head {
  padding: 15px;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

div.content div#panel_head div#title {
  color: #0878d5;
  font-size: 18px;
  padding: 4px 0;
}

div.content div#panel_head div#title.center {
  text-align: center;
}

div.content div#panel_head div#title span {
  color: #636f81;
}

div.content div#panel_head div#title a#change_client {
  display: inline-block;
  font-size: 14px;
  padding: 15px;
  margin: -12px -15px -13px;
}

div.content div#panel_head input.input {
  width: 350px;
  padding: 7px 12px 7px 7px;
}

div.content div#panel_head span.button {
  width: 80px;
  margin-left: -8px;
}

div.content div#panel_head span.button, div.content div#panel_head span.button a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

div.content div#panel_body {
  position: absolute;
  top: 66px;
  right: 0;
  bottom: 0;
  left: 0;
}

div.content div#panel_body div#order_list {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60%;
  border-right: 1px solid #ccc;
}

div.content div#panel_body div#order_list table tr {
  cursor: pointer;
}

div.content div#panel_body div#order_list table tr:hover {
  background: #d4e2ef;
}

div.content div#panel_body div#order_list table td {
  width: 60%;
  padding: 0 10px;
  color: #666;
  border-bottom: 1px solid #ccc;
}

div.content div#panel_body div#order_list table td:last-child {
  width: 40%;
}

div.content div#panel_body div#order_list table td p {
  margin: 15px 0;
}

div.content div#panel_body div#order_list table td span.blue {
  color: #0878d5;
}

div.content div#panel_body div#order_list table td span.red {
  color: #c52929;
}

div.content div#panel_body div#order_list table td span.green {
  color: #408c0e;
}

div.content div#panel_body div#order_detail {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
}

div.content div#panel_body div#item_list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 150px;
  left: 10px;
}

div.content div#panel_body div#item_list table tr.open_modal {
  cursor: pointer;
}

div.content div#panel_body div#item_list table td {
  padding: 10px;
  color: #666;
  border-bottom: 1px solid #ccc;
  width: 20%;
}

div.content div#panel_body div#item_list table td:first-child {
  width: 40%;
}

div.content div#panel_body div#item_list table td:last-child {
  text-align: center;
}

div.content div#panel_body div#item_list table tr:first-child td {
  color: #999;
}

div.content div#panel_body div#order_total {
  position: absolute;
  background: #eee;
  right: 0;
  bottom: 0;
  left: 0;
  height: 150px;
  box-shadow: inset 0 0 6px #ccc;
}

div.content div#panel_body div#order_total table {
  margin: 10px 0 15px;
}

div.content div#panel_body div#order_total table td {
  padding: 8px 5px;
  color: #666666;
}

div.content div#panel_body div#order_total table td span {
  display: inline-block;
  margin-left: 10px;
  color: #0878d5;
}

div.content div#panel_body div#order_total table td span.paid {
  font-size: 18px;
  font-weight: bold;
}

div.content div#panel_body div#order_total p {
  /*text-align:center;*/
}

div.content div#panel_body div#order_total p span {
  margin-left: 10px;
  width: 120px;
}

div.content div#panel_body div#order_total p span.fright {
  margin: 0 10px 0 0;
}

div.content div#panel_body div#clients {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.content div#panel_body div#clients div#search {
  padding: 10px;
}

div.content div#panel_body div#clients div#search input.input {
  width: 100%;
}

div.content div#panel_body div#client_list {
  position: absolute;
  top: 54px;
  right: 0;
  bottom: 65px;
  left: 0;
}

div.content div#panel_body div#client_list table td {
  color: #666;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

div.content div#panel_body div#clients div#actions {
  position: absolute;
  height: 65px;
  padding: 15px;
  background: #fff;
  border-top: 1px solid #ccc;
  right: 0;
  bottom: 0;
  left: 0;
}

div.content div#panel_body div#clients div#actions span {
  min-width: 120px;
}

div#item_menu {
  /*position: absolute;*/
  /*width: 48%;*/
  top: 0;
  right: 0;
  bottom: 0;
}

div#item_menu div#menu_head {
  background: #384c5d;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: auto;
}

div#item_menu div#menu_head span.crumb {
  display: block;
  margin: 0;
  float: left;
}

div#item_menu div#menu_head span.crumb.active, div#item_menu div#menu_head span.crumb a {
  display: inline-block;
  padding: 15px 25px;
  color: #fff;
}

div#item_menu div#menu_head span.crumb a {
  border-right: 1px solid #2c4051;
}

div#item_menu div#menu_head span.crumb a:hover {
  background: #475d6f;
}

div#item_menu div#menu_search {
  position: relative;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  /*box-shadow:0 15px 15px 5px #677e92;*/
  z-index: 99;
}

div#item_menu div#menu_search input {
  font-size: 18px;
  width: 100%;
  border: 1px solid #455c70;
  box-shadow: inset 0 0 3px #6c879e;
}

div#item_menu div#menu_body {
  position: absolute;
  top: 110px;
  right: 0;
  bottom: 10px;
  left: 10px;
  padding-right: 10px;
}

div#item_menu div#menu_body:hover {
  padding-right: 0;
}

div#item_menu div#menu_body div.section h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c4051;
  margin-left: 3px;
}

div#item_menu div#menu_body span.menu_btn {
  display: inline-block;
  background: -webkit-linear-gradient(#2da0ff, #006ecc);
  background: -moz-linear-gradient(#2da0ff, #006ecc);
  background: -o-gradient(#2da0ff, #006ecc);
  background: linear-gradient(#2da0ff, #006ecc);
  box-shadow: 0 0 8px #666;
  border: 1px solid #006ecc;
  border-radius: 6px;
  margin: 4px;
}

div#item_menu div#menu_body span.menu_btn.item {
  background: #559edc;
}

div#item_menu div#menu_body span.menu_btn.item span.lbl {
  margin-top: 10px;
}

div#item_menu div#menu_body span.menu_btn a {
  display: table-cell;
  border: 1px solid #369aee;
  border-radius: 6px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  height: 100px;
}

div.content div#panel_body.new_order div#order_total table {
  min-width: 80%;
  width: auto;
  margin: 10px auto 15px;
}

div.content div#panel_body.new_order div#item_list {
  bottom: 205px;
}

div.content div#panel_body.new_order div#discount {
  position: absolute;
  height: 55px;
  bottom: 150px;
  right: 0;
  left: 0;
  border-top: 1px solid #ccc;
  padding: 10px;
}

div.content div#panel_body.new_order div#discount > span {
  display: inline-block;
  padding: 6px 0;
  font-weight: bold;
  color: #666;
}

div.increment {
  display: inline-block;
  width: 150px;
}

div.increment input {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #666;
}

span.lbl {
  display: inline-block !important;
  background: #55ce63 !important;
  color: #fff !important;
  font-size: 12px !important;
  padding: 2px 2px 0 2px !important;
}

span.lbl.out_stock {
  background: #f62d51 !important;
}

/*SCROLL BAR STYLE*/
.scroll_panel:hover::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar {
  /*display: none;*/
  width: 8px;
  /*background-color: rgba(0, 0, 0, 0.04);*/
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #999;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border: 1px solid #ccc;
  background-color: #fff;
}

::-webkit-scrollbar-button {
  /*background-color: #7c2929;*/
}

::-webkit-scrollbar-corner {
  /*background-color:#b3b3b3;*/
}
