.not-found-wrapper {
  padding: 150px 30px 0;
  display: flex;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.not-found-wrapper h2 {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
