.store-list .item {
  display: inline-block;
  background: -webkit-linear-gradient(#2da0ff, #006ecc);
  background: -moz-linear-gradient(#2da0ff, #006ecc);
  background: -o-gradient(#2da0ff, #006ecc);
  background: linear-gradient(#2da0ff, #006ecc);
  box-shadow: 0 0 8px #666;
  border: 1px solid #006ecc;
  border-radius: 6px;
  margin: 5px 10px;
}

.store-list .item a {
  display: table-cell;
  border: 1px solid #369aee;
  border-radius: 6px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  max-width: 200px;
  height: 100px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
}
