<div class="viewcont">
  <div class="logo">
    <h3>Elite</h3>
    <span>Мобильные аксессуары</span>
  </div>

  <div class="store-list">
    <span class="item" *ngFor="let item of storeService.list"><a (click)="onSelect(item)">{{item.name}}</a></span>
  </div>
</div>
