<div *ngIf="orderService.orderItemsPopup && orderService.productOrderItem">
  <div id="client" class="cover popup-wrapper"
       (click)="close($event)">
    <div id="modal">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div id="title" class="center">{{orderService.productOrderItem.product['name']}}</div>

        <div id="modal_cont">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td rowspan="5" class="img"><img src="assets/img/1.jpg"/></td>
            </tr>

            <tr>
              <td>
                <span class="inline">Цена:</span> <strong>{{orderService.getItemPrice() | eliteMoney}}</strong>
              </td>
            </tr>

            <tr>
              <td>
                <!-- NOTE: SHOW ONE OF THE LINES BELOW DEPENDING ON ITEM IN STOCK -->
                <div>
                  <span class="label1">В наличии:</span>
                  <span class="lbl {{orderService.productOrderItem['in_store']>0?'inline':'out_stock'}}"> магазин: {{orderService.productOrderItem['in_store']}} </span>
                  <span class="lbl {{orderService.productOrderItem['in_warehouse']>0?'inline':'out_stock'}}"> склад: {{orderService.productOrderItem['in_warehouse']}} </span>
                </div>
              </td>
            </tr>

            <tr *ngIf="orderService.productOrderItem.viewMode && quantity.value">
              <td>
                <!-- NOTE: SHOW ONE OF THE LINES BELOW DEPENDING ON ITEM IN STOCK -->
                <span class="label1">Количество :  <strong>{{quantity.value}}</strong></span>
              </td>
            </tr>


            <tr *ngIf="orderService.productOrderItem.viewMode && discount.value">
              <td>
                <!-- NOTE: SHOW ONE OF THE LINES BELOW DEPENDING ON ITEM IN STOCK -->
                <span class="label1">Скидка : <strong>{{discount.value | money}}</strong></span>
              </td>
            </tr>

            <tr *ngIf="!orderService.productOrderItem.viewMode">
              <td>
                <span>Количество </span>
                <span class="alert alert-danger" *ngIf="response&&response.quantity">{{response.quantity[0]}}</span>
                <div class="increment">
                  <div class="input-group">
									<span class="input-group-btn">
										<button type="button"
                            (click)="toggleQuantity(false)"

                            class="btn btn-default btn-number" disabled="{{quantity.value<=1?'disabled':''}}"
                            data-type="minus"
                            data-field="item_quant">
											<span class="glyphicon glyphicon-minus"></span>
										</button>
									</span>
                    <input type="number"
                           id="quantityField"
                           tabindex="1"
                           formControlName="quantity"
                           class="form-control input-number"
                           placeholder="Кол-во"
                           (mouseup)="$event.target.select()"
                           min="1"
                           [max]="orderService.productOrderItem['in_store'] || 1"
                    />
                    <span class="input-group-btn">
										<button type="button"
                            (click)="toggleQuantity(true)"
                            class="btn btn-default btn-number" data-type="plus" data-field="item_quant">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</span>
                  </div>
                </div>
              </td>
            </tr>

            <tr *ngIf="!orderService.productOrderItem.viewMode">
              <td>
                <span>Скидка (сум)</span>
                <span class="alert alert-danger" *ngIf="response&&response.discount">{{response.discount[0]}}</span>

                <div class="increment">
                  <div class="input-group">
                  <span class="input-group-btn">
										<button type="button"
                            (click)="toggleDiscount(false)"
                            class="btn btn-default btn-number" disabled="{{discount.value<1?'disabled':''}}">
											<span class="glyphicon glyphicon-mi]nus"></span>
										</button>
									</span>
                    <input type="number"
                           formControlName="discount"
                           placeholder="Скидка"
                           tabindex="2"
                           class="form-control input-number"
                           (mouseup)="$event.target.select()"
                           min="0"
                           [max]="exchangeService.getSOM(orderService.getItemPrice())"/>
                    <span class="input-group-btn">
										<button type="button"
                            (click)="toggleDiscount(true)"
                            class="btn btn-default btn-number">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</span>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div id="actions" class="clearfix" *ngIf="!orderService.productOrderItem.viewMode">
          <span class="button gray fleft">
            <a (click)="close()" class="close_modal">Отмена</a>
          </span>
          <span *ngIf="orderService.productOrderItem.order&&orderService.productOrderItem.order.id" class="button red fleft" style="margin-left: 10px">
            <a (click)="delete(orderService.productOrderItem.id)" class="delete_item">Delete</a>
          </span>
          <span
            tabindex="3"
            class="button green fright"><button type="submit">Добавить</button></span>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End new client pupup -->
