<div id="client_list" class="cover popup-wrapper" *ngIf="clientService.listPopup" (click)="closePopup($event)">
  <div id="modal">
    <div id="title" class="center">
      Выберите клиента
    </div>

    <div id="modal_cont">
      <search-form (onSubmitHandle)="searchFromListing($event)"></search-form>


      <div class="scroll_panel">
        <ul class="nostyle block_list" id="infinite-scroller" appInfiniteScroller
            scrollPercent="70"
            [immediateCallback]="true"
            [scrollCallback]="scrollCallback">
          <li *ngFor="let item of clientService.list">
            <span class="hide" *ngIf="clientService.selectedClient && clientService.selectedClient['id'] == item.id">
              <input type="checkbox" checked="clientService.selectedClient.id == item.id">
            </span>
            <a (click)="selectClient(item)" class="close_modal">{{item.name}}</a></li>
        </ul>
      </div>
    </div>

    <div id="actions clearfix">
      <div class="btn-group clearfix pull-right">
      <span class="btn btn-default"  (click)="closePopup()">Отмена</span>
      <span class="btn btn-primary" (click)="openCreatePopup()">Новый клиент</span>
      </div>
    </div>
  </div>
</div>
