<div *ngIf="clientService.createPopup">
  <div id="client" class="cover popup-wrapper"
       (click)="close($event)">
    <div id="modal">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div id="title" class="center">Новый клиент</div>

        <div id="modal_cont">

          <table cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <span>Название фирмы</span>
                <input required
                       formControlName="name"
                       type="text" class="input"/>
                <span style="color:red" *ngIf="response.name">{{response.name[0]}}</span>
              </td>

              <td>
                <span>Тип клиента</span>
                <select required
                        formControlName="client_type"
                        class="input">
                  <option value="WHOLESALE" selected>Оптовый</option>
                  <option value="RETAIL">Розничный</option>
                </select>
                <span style="color:red" *ngIf="response.client_type">{{response.client_type[0]}}</span>

              </td>
            </tr>

            <tr>
              <td>
                <span>Тел. номер</span>
                <input required
                       formControlName="phone"
                       type="text" class="input" #phone/>
                <span style="color:red" *ngIf="response.phone">{{response.phone[0]}}</span>

              </td>

              <td>
                <span>Контактное лицо</span>
                <input required
                       formControlName="address"
                       type="text" class="input"
                />
                <span style="color:red" *ngIf="response.address">{{response.address[0]}}</span>

              </td>
            </tr>
          </table>
        </div>

        <div id="actions" class="clearfix">
          <span class="button gray fleft"><a (click)="close()" class="close_modal">Отмена</a></span>
          <span class="button green fright"><button type="submit">Сохранить</button></span>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End new client pupup -->
