<div *ngIf="orderService.paymentPopup">
  <div id="payment" class="cover order-payment-cover popup-wrapper"
       (click)="close($event)">
    <div id="modal">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div id="title" class="clearfix">
          {{orderService.item.client && orderService.item.client['name']}}
          <span>Заказ № {{orderService.item.code}}</span>
        </div>
        <div id="modal_cont">
          <table cellpadding="0" cellspacing="0" class="payment-form-table">
            <tr>
              <td colspan="33%" width="33%">
                <span>Сумма заказа</span>
                <span class="blue">{{orderService.item.sub_total | eliteMoney}}</span>
              </td>

              <td colspan="33%" width="33%">
                <span style="white-space: nowrap">Общая скидка</span>
                <span class="blue">{{orderService.item.total_discount | eliteMoney}}</span>
              </td>

              <td colspan="33%" width="33%">
                <span>Итого к оплате</span>
                <span class="blue">{{(orderService.item.total-orderService.item.total_payment) | eliteMoney}}</span>
              </td>
            </tr>
            <tr>
              <td colspan="30%">
                <span>Оплатить</span>
              </td>

              <td colspan="70%">
                <div class="btn-group" data-toggle="buttons">
                  <button ngClass="btn btn-primary {{paymentType!='full'&&'active'}}" (click)="onClickPartialPaid()">
                    Частично
                  </button>
                  <button ngClass="btn btn-primary {{paymentType=='full'&&'active'}}" (click)="onClickFulPaid()">
                    Полностью
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="50%">
                <span>Сумма оплаты</span>
                <input
                  required
                  formControlName="amount"
                  type="text" class="input"/>

                <span class="alert alert-danger" *ngIf="amount.invalid">Обязательный</span>
                <span class="alert alert-danger" *ngIf="response && response['amount']">{{response['amount']}}</span>

              </td>

              <td colspan="30%" *ngIf="paymentType!='full'">
                <span>Дата след. оплаты</span>
                <input
                  formControlName="due_date"
                  type="date" class="input"/>
                <span class="alert alert-danger" *ngIf="response && response['due_date']">{{response['due_date']}}</span>

              </td>

              <td colspan="20%">
                <span>Оплаты</span>
                <select required
                        formControlName="type"
                        class="input">
                  <option *ngFor="let item of payMethods" value="{{item}}">{{item}}</option>
                </select>
              </td>
            </tr>

            <tr>
              <td colspan="100%">
                <textarea
                  formControlName="note"
                  class="input" placeholder="Комментарии" rows="4"></textarea>

                <div class="form-group" *ngIf="paymentType!='full'">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="addToReminder"/>
                      Напоминание
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>

            </tr>
          </table>
        </div>

        <div id="actions" class="clearfix">
          <span class="button gray fleft"><a (click)="close()" class="close_modal">Отмена</a></span>
          <span class="fright">
            <button class="btn btn-success" type="submit" disabled="{{form.invalid?'disabled':''}}">Оплата</button>
          </span>
          <span class=" fright" style="margin-right:5px ">
            <button class="btn btn-primary" type="button" (click)="printAndGoDashboard()"
                    disabled="{{form.invalid?'disabled':''}}">Печатать и сохранить</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End of payment popup -->
