<div id="client_list" class="cover popup-wrapper" (click)="closePopup($event)">
  <div id="modal">
    <div id="title" class="center">
      Список напоминаний
    </div>

    <div id="modal_cont">
      <search-form (onSubmitHandle)="searchFromListing($event)"></search-form>


      <div id="remind_list" class="scroll_panel" appInfiniteScroller
           scrollPercent="70"
           [immediateCallback]="true"
           [scrollCallback]="scrollCallback">
        <table cellspacing="0" cellpadding="0">
          <tr>
            <td>Due date</td>
            <td>Status</td>
            <td>Notes</td>
          </tr>

          <tr *ngFor="let item of reminderService.list">
            <td>{{item.due_date}}</td>
            <td><span class="lbl {{item.resolved?'':'out_stock'}}">{{item.resolved?'Resolved':'Unresolved'}}</span></td>
            <td>{{item.note}}</td>
          </tr>
        </table>
      </div>

    </div>

    <div id="actions" class="clearfix">
      <span class="button gray fleft"><a (click)="closePopup()" class="close_modal">Отмена</a></span>
    </div>
  </div>
</div>
